//TYPOGRAPHY
h1 {
    font-family: 'Roboto';
    font-weight: bold;
    color: #155666
}

h2 {
    font-family: 'Roboto';
    color: #1e2024
}

h3 {
    font-family: 'Open Sans';
    font-weight: bold;
    color: #465d64;
}

h4 {
    font-family: 'Open Sans';
    font-weight: 600;
    color: #465d64;
}

p {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #465d64;
}

//RIGHT INDICATOR IN INPUT FIELD
.euro {
    right: 10px;
    bottom: 8px;
}

.euro-input {
    padding-right: 22px;
}

.submit {
}

.tooltip-inner {
    background-color: #f3d3d6;
    color: #c95965;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: #f3d3d6;
}

//BUTTON LIGHTENS WHEN HOVER/FOCUS
.btn-primary {
    &:hover, &:focus {
        background: $primary-hover;
        border-color: $primary-hover
    }
}

.btn-secondary {
    &:hover, &:focus{
        background: $secondary-hover;
        border-color: $secondary-hover;
    }
}

//ALERT THICKER BORDERS
@each $color, $value in $theme-colors {
    .alert-#{$color} {
        border-color: darken($value, 15%);
    }
  }