//Typography
//TODO Group common props
.display-1 {
    font-size: 2rem;
    font-family: $font-family-sans-serif;
    color: #155666;
}
.display-2 {
    font-size: 2rem;
    font-family: $font-family-sans-serif;
    color: #1e2024;
}
.display-3 {
    color: #465d64;
}
.display-4 {
    font-size: .75rem;
}

//RIGHT INDICATOR IN INPUT FIELD
.currency {
    right: 10px;
    bottom: 8px;
}
.currency-input {
    padding-right: 22px;
}

//TOOLTIP COLOR
.tooltip-inner {
    background-color: #efc8cb;
    color: #c45c67;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: #efc8cb;
}

//BUTTON LIGHTENS WHEN HOVER/FOCUS
.btn {
    min-width: 240px;
}
.btn-primary {
    @include hover-focus {
        background: $primary-hover;
        border-color: $primary-hover
    }
}
.btn-secondary {
    color: $white;
    @include hover-focus {
        background: $secondary-hover;
        color: $white;
        border-color: $secondary-hover;
    }
}
.btn-outline-primary {
    @include hover-focus {
        color: $primary;
        color: $primary-hover; // TODO ??
        border-color: $primary-hover;
    }
}
.btn-outline-secondary {
    @include hover-focus {
        color: $secondary;
        color: $secondary-hover; // TODO ??
        border-color: $secondary-hover;
    }
}
.btn-outline-primary, .btn-outline-secondary {
    @include hover-focus {
        background-color: $white;
    }
}
.btn {
    &.disabled,
    &:disabled {
        background-color: #e3ebed;
  }
}

.form-control {
    background-color: #fbfbfc; // TODO use $input-bg
    @include hover-focus {
        background-color: #fbfbfc // TODO use $input-focus-bg
    }
}

.close{
    position: absolute; // TODO use the correct css class
    color: rgba(0, 0, 0, 0.5); // TODO What about $close-color?
}

// .modal {
//     border: $border-width solid $gray-300;
//     border-radius: .25rem;
//     padding: 25px; 
//     .close {
//     top: 0;
//     right: 0;
//     }
// }
// .alert {
//     .close {
//         top: 20px;
//         right: 20px;
//     }
// }
// TODO Delete the following 3 rulesets. Use the framework.
.accepted {
color: #62b86f;
}
.warning {
color: #faac02;
}
.error {
color: #dc7b86;
}

table {
    th{
        font-weight: 600;
        color: #abc2c8;
    }
}