//TYPOGRAPHY
h1 {
    font-family: 'Roboto';
    color: #155666
}

h2 {
    font-family: 'Roboto';
    color: #1e2024
}

h4 {
    color: #465d64;
}

p {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #465d64;
}

//RIGHT INDICATOR IN INPUT FIELD
.euro {
    right: 10px;
    bottom: 8px;
}

.euro-input {
    padding-right: 22px;
}

// .currency::after {
//     position: absolute;
//     content: ('€');
//     height: auto;
//     width: auto;
// }

.tooltip-inner {
    background-color: #f3d3d6;
    color: #c95965;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: #f3d3d6;
}

//BUTTON LIGHTENS WHEN HOVER/FOCUS
.btn-primary {
    &:hover, &:focus {
        background: $primary-hover;
        border-color: $primary-hover
    }
}

.btn-secondary {
    color: white;
    @include hover-focus {
        background: $secondary-hover;
        color: white;
        border-color: $secondary-hover;
    }
}

//ALERT THICKER BORDERS
@each $color, $value in $theme-colors {
    .alert-#{$color} {
        border-color: darken($value, 15%);
    }
}

.modal {
    border: 1px solid $gray-300;
    border-radius: .25rem;
    padding: 25px;
  }

  .close {
      color: rgba(0, 0, 0, 0.5);
  }