$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 0.750;
$h4-font-size: $font-size-base * 0.750;

$primary:       #00b9d8;
$secondary:     #fdbe01;

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  #fdbe01
  ),
  $theme-colors
);

body {
  background: map-get($theme-colors, 'primary');
}
// $display1-size:               6rem !default;
// $display2-size:               5.5rem !default;
// $display3-size:               4.5rem !default;
// $display4-size:               3.5rem !default;